.profileScreen {
    height: 100vh;
    color: white;
    }

.profileScreen__body {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7rem;  /* 8% */
    max-width: 800px;

}

.profileScreen__info {
    display: flex;
}

.profileScreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__body > h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}


.profileScreen__info > img {
    height: 100px;
}




@media (max-width: 830px) {
.profileScreen__body {
    padding-left: 20px;
    }
 .profileScreen__details > h2 {
   width: 92%;
 }   
 .profileScreen__signOut {
     width: 97%;
     }   
}

@media (max-width: 655px) {
.profileScreen__details > h2 {
   width: 90%;
 }   
}

@media (max-width: 535px) {
.profileScreen__details > h2 {
   width: 88%;
 }   
}

@media (max-width: 459px) {
.profileScreen__details > h2 {
   width: 86%;
 }   
}

@media (max-width: 392px) {
.profileScreen__details > h2 {
   width: 85%;
 }   
}









